.button {
    font: inherit;
    font-weight: bold;
    font-size: 1.25rem;
    color: #d39743;
    border: 1px solid #bab4d6;
    border-radius: 6px;
    background-color: transparent;
    margin-left: 1rem;
    margin: 0.25rem;
    cursor: pointer;
    margin-left:20rem;
    margin-top: 1rem;
    
  }
  
  .button:hover{
    opacity: 0.8;
  }
  .button:active {
    background-color:aliceblue;
  }
   
  